* {
  text-align: center;
  font-family: serif;
  color: #377ba8;
  border-radius: 12px;
}

html {
  padding: 1rem;
  background-image: url("laser_cat.jpg");
  background-repeat: repeat;
}

@media screen and (max-width: 992px) {
  body {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .body {
    width: 300px;
  }
}

body {
  width: 45%;
  margin: 0 auto;
  padding: 13px;
  margin-top: -20px;
  background-color: #faee3f;
}

body.image {
  width: 55%;
}

div {
  margin-bottom: 16px;
  padding: 40px;
}

.description {
  margin-top: 16px;
  background: #d0f6d2;
}

.upload, .uploaded_file, .plot, .visual {
  background: #dcccf7;
}

.set {
  background: #bacbf7;
}

input, select, label, input::file-selector-button, ul, a, p {
  color: #377ba8;
  font-family: serif;
  font-size: large;
  font-weight: bold;
}

input::file-selector-button, #upload_button, #plot_button {
  background: #ceb8f4;
  border: 2px solid #c2a7f1;
  border-radius: 12px;
  }

input::file-selector-button:hover, #upload_button:hover, #plot_button:hover {
  background-color: #c2a7f1;
  cursor: pointer;
}

input::file-selector-button {
  padding: 8px 15px;
}

#upload_button, #plot_button {
  padding: 10px 20px;
}

select {
  width: 110px;
}

.set select:hover, #view_button:hover {
  background-color: #8da9f2;
  cursor: pointer;
}

#view_button {
  width: 215px;
}

select, #view_button {
  padding: 10px 20px;
  border: 2px solid #8da9f2;
  background: #a4bbf4;
}

label {
  display: inline-block;
  padding: 5px;
  width: 5em;
}

.table {
  background: #dcccf7;
  overflow: scroll;
  height: 600px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table thead, table tbody {
  font-size: 16px;
}

table thead {
  background: #c2a7f1;
 }

table tbody {
  background: #D0E4F5;
}

table tbody td {
  padding: 10px;
}

body.flash {
  margin-top: 150px;
  width: 30%;
  padding: 5px;
}

.alert-error {
  background-color: #fe4d65;
  color: white;
  padding: 8px;
}

.alert-success {
  background: #8deab3;
  color: #188144;
  padding: 20px;
}

.flash p {
  background: #dcccf7;
  padding: 20px;
}