<!doctype html>

<html>
<title>LTU Telemetry</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

{% block content %}
<body>
<div class="description">
 <h1>LTU Telemetry Tool</h1>
  <p>
    Parse and plot LTU telemetry
  </p>
</div>

<div class="upload">
  <h1>Upload a file</h1>
  <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name=file>
      <br><br>
      <input type="submit" value="Submit">
  </form>
</div>

<div class="set">
  <h1>Choose an LTU set:</h1>
    <form action="/table">
      <select name="set" id="set">
        <optgroup label="LTU sets">
          <option value="LTU1_1">LTU1.1</option>
          <option value="LTU2_1">LTU2.1</option>
          <option value="LTU3_1">LTU3.1</option>
        </optgroup>
      </select>
      <br><br>
      <select name="subset" id="subset">
        <optgroup label="LTU subsets">
          <option value="brd">BRD</option>
          <option value="chg_cur">CHG.CUR</option>
          <option value="chg_volt">CHG.VOLT</option>
          <option value="ldd_lt">LDD.LT</option>
          <option value="ldd_rt">LDD.RT</option>
          <option value="ldd_volt">LDD.VOLT</option>
          <option value="pls_cur">PLS.CUR</option>
          <option value="pls_hv">PLS.HV</option>
          <option value="pls_ld">PLS.LD</option>
        </optgroup>
      </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>
{% endblock %}