{% extends 'base.html' %}
{% block content %}
<h2>{{ table|upper|replace("_", ".") }} set, {{subset|upper|replace("_", ".") }} subset:</h2>
<body>
<div class="table">
  <table>

    <thead>
      <tr>
        {% for column in columns %}
        <th>{{ column|upper|replace("_", ".") }}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
    {% for row in rows %}
    <tr>
      {% for cell in row %}

      <td>{{ "{:.3f}".format(cell) }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>

</table>
</div>
</body>
{% endblock %}