{% extends 'base.html' %}
{% block content %}

<body>
<div class="table">
  <h2>{{ table|upper|replace("_", ".") }} channel, {{set|upper|replace("_", ".") }} set, route time {{ route }}:</h2>
  <table>
    <thead>
      <tr>
        {% for column in columns %}
        <th>{{ column|upper|replace("_", ".") }}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
    {% for row in rows %}
    <tr>
      <td>{{ row | first }}</td>
      {% for cell in row[1:] %}
      <td>{{ cell | fmt }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<div class="plot">
  <h2>Visualize the data</h2>
  <form action="/plot">
    <input type="hidden" name="channel" id="channel" value="{{ table }}">
    <input type="hidden" name="set" id="set" value="{{ set }}">
    <input type="hidden" name="route" id="route" value="{{ time }}">
    <input id="plot_button" type="submit" value="Plot">
  </form>
</div>
</body>
{% endblock %}