{% extends 'base.html' %}
{% block content %}
<h2>{{ table|upper|replace("_", ".") }} set, {{subset|upper|replace("_", ".") }} subset:</h2>
<body>
<div class="table">
  <table>
    <thead>
      <tr>
        {% for column in columns %}
        <th>{{ column|upper|replace("_", ".") }}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
    {% for row in rows %}
    <tr>
      <td>{{ row | first | dt }}</td>
      {% for cell in row[1:] %}
      <td>{{ cell | fmt }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<div class="plot">
  <h2>Visualize the data</h2>
  <input type="submit" value="Plot">
</div>
</body>
{% endblock %}